#publishiza-action {
	margin: 10px;
}

#publishiza-select {
	line-height: 2.5em;
	margin-top: 3px;
	display: none;
}
#publishiza-select select#pts_post_type {
	margin-right: 2px;
}
#publishiza-select a#save-publishiza {
	vertical-align: middle;
	margin-right: 2px;
}
#publishiza-display {
	font-weight: bold;
}
#post-body .publishiza::before {
	content: '\f301';
	font: 400 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 2px 0 0;
	top: 0;
	left: -1px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	color: #888;
}
